@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Spinnaker&display=swap');
:root {
  --page-width: 820px;
  --font-fancy-A: 'Jost', sans-serif;
  --font-fancy-B: 'Urbanist', sans-serif;
  --font-fancy-C: 'Spinnaker', sans-serif;
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;

  /* font-family: var(--font-fancy-B); */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header {
  height: 60px;
  padding: 24px 40px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  box-shadow: 0 0px 5px -2px rgba(0,0,0,.5);
}
header>.name-logo {
  height: 100%;
  width: 100%;
  object-fit: contain;
  object-position: left;
  /* filter: hue-rotate(50deg) saturate(11); */
}

footer {
  height: 240px;
  width: 100%;
  /* background: linear-gradient(180deg, #DAC600 0%, #DAC600 38.54%, #A57A00 78.12%, #3B2100 100%); */
  background: linear-gradient(180deg, #DAC600 0%, #DAC600 43.75%, #BFA000 69.79%, #A57A00 81.77%, #3B2100 100%);
  
}

h1 {
  font-size: 2.5rem;
  font-family: var(--font-fancy-A);
}
h2 {
  font-size: 2rem;
  font-family: var(--font-fancy-A);
}
h3 {
  font-size: 1.5rem;
  font-family: var(--font-fancy-A);
}
h4 {
  font-size: 1.2rem;
}
p, ul {
  font-size: 1rem;
  padding-bottom: 1rem;
  line-height: 200%;
}
* > *:last-child {
  padding-bottom: 0;
}
/* margin-block override */
h1, h2, h3, h4, h5, p, ul {
  margin-block-start: 0;
  margin-block-end: 0;
}
img {
  max-width: 100%;
  height: auto;
}


.txt-over-img-box {
  position: relative;
}
.txt-foreground,
.img-background {
  width: 100%;
  height: 100%;
}
.img-background {
  position: absolute;
  top: 0;
  left: 0;
}
.txt-foreground {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  position: relative;
  z-index: 2;
}
.txt-foreground>div {
  position: relative;
}
.img-background>img {
  width: 100%;
  height: 100%;
  object-fit: cover;

}
.darken {
  filter: grayscale(.66) brightness(.33);
  -webkit-filter: grayscale(.66) brightness(.33);
  -moz-filter: grayscale(.66) brightness(.33);
}

.page-width {
  width: 90%;
  max-width: var(--page-width);
  margin: 0 auto;
}
@media (min-width: 640px){ .mobile-only { display: none; } }
@media (max-width: 639px){ .desktop-only { display: none; } }

/* Grid template */
.grid {
  display: grid;
  gap: 32px;
}
.one-col {
  grid-template-columns: 1fr;
}
.two-col {
  grid-template-columns: 1fr 1fr;
}
@media (min-width: 640px){
  .grid {
    grid-template-areas: 'left right';
  }  
  .grid>.left { grid-area: left; }
  .grid>.right { grid-area: right; }
  
  .two-col,
  .desktop-two-col {
    grid-template-columns: 1fr 1fr;
  }
  .desktop-two-col.two-one {
    grid-template-columns: 2fr 1fr;
  }
}
@media (max-width: 639px){
  .grid {
    gap: 1em;
    grid-template-areas: 'top' 'bottom';
  }
  .grid.mobile-one-col>.top { grid-area: top; }
  .grid.mobile-one-col>.bottom { grid-area: bottom; }

  .mobile-two-col {
    grid-template-columns: 1fr 1fr;
  }
  .mobile-one-col {
    grid-template-columns: 1fr;
  }
}
